@import "sass-files/mixins";
@import "sass-files/blog";
@import "sass-files/header";
@import "sass-files/contact";
@import "sass-files/footer";




.btn-primary{
    border-radius: 10px;
    border: 1px solid black;
    background-color: black ;
    color: #fff;
    font-weight: 600;
}

.btn-t {
    @extend .btn-primary;
    background-color: transparent;
    color: black;
    font-weight: 400;
}